body {
    background-color: #191724;
    color: #908caa;
    font-family: 'Inter', sans-serif, serif;
}

h1,
h2,
h3 {
    color: #e0def4;
    margin: 0;
}

h2 {
    font-size: 1.75;
}

button {
    background-color: #1f1d2e;
    border: none;
    color: #908caa;
    padding: 0.75rem 1.75rem;
    font-size: 1.1em;
    border-radius: 8px;
}

button:hover {
    background-color: #26233a;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1.5rem;
    align-items: center;
    padding: 2rem;
}

.result {
    font-size: 1.1em;
    text-align: center;
    background-color: #1f1d2e;
    padding: 0.75rem 1.75rem;
    border-radius: 8px;
}

.score {
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
    font-size: 1.1em;
}

.player-score::before {
    content: "Player Score: ";
}

.computer-score::before {
    content: "Computer Score: "
}

.player-score::before,
.computer-score::before {
    color: #e0def4;
}

.restart {
    display: none;
}
